a{text-decoration:none;}
color: rgba(49, 14, 1, 0.868); /* 确保链接颜色统一 */
        a:visited{color: rgba(0, 0, 0);}
        a:active{color: rgba(0, 0, 0);}
        a:hover{color: #ff9500;}
        a:before{color: rgba(0, 0, 0);}
        a::after{color: rgba(0, 0, 0);}
        .link {
    color: rgba(0, 0, 0); /* 链接颜色统一 */
    text-decoration: none;
}

@font-face {
    font-family: "Helvetica";
    src: url("Helvetica.woff2") format("woff2"),
    font-weight: normal;
    font-style: normal;
}

        /* 设置网页默认背景颜色 */
    body {
    background-image: url(studio_background.png);
    background-color: rgb(28, 28, 28);
    margin: 0; /* 清除默认的 body 外边距 */
    font-family: "Helvetica", Arial, sans-serif;
    height: auto;
    overflow: visible;
    
}   

        

        .father{
            
            display: flex;
            justify-content: center; /* 水平居中 */
            align-items: center;/* 垂直居中 */
            padding: 2px;
            flex-wrap: wrap;
            position:relative;
            margin-top:200px;
            margin-bottom: 600px;
            
            
        }
        .buttons-container {
    display: flex;
    align-items: center; /* 垂直居中按钮 */
    margin-top: 10px; /* 保持与 .father 之间有 10px 的间距 */
    display: flex;
    gap: 10px; 
    width: calc(60% + 20vw); /* 容器的宽度，适应屏幕 */
    margin-left: 15%;
        }
        
        
        .ZHUO{
            color: hsl(0, 0%, 100%);;
            
        }
        .pinky{
            background: linear-gradient(0deg,  #ff096b 0%, #ff0a43 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
            
        }
        .message{
            position: relative;
            color:white;
            margin-left: 15%;
            font-size: 30px;
            
        }
        .link {
            color: hsl(0, 0%, 100%);
            text-decoration: none;
        }
        
        
        .right-container {
            position: absolute;
            top:10px;
            right:50px;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: flex-end;
            font-size: 10px;
            height: 50px;
            width:1500px;
            
        }

       

        .language-container {
            display: flex;
            gap: 15px;
            margin-right: 10px;
            justify-content: flex-end;
            height: 30px;
            width: 200px;
            margin:0;
        }

        .box-n1, .box-n2, .box-n3 {
            color: #ff9500;    
            
        }
        .box-n3 { 
            margin-top: -1.2px;
        }
        
        

        @media (max-width: 600px) {
            .right-container {
                justify-content: flex-end;
                width: 100%;
            }

            .language-container {
                justify-content: flex-end;
                width: 100%;
            }

            .father {
                flex-direction: column;
                align-items: flex-start;
            }
        }



/* 单个按钮样式 */
.cv-button, .works-button, .projects-button {
    outline: none; 
    border: 2px solid rgb(110, 110, 110);  
    width: calc(30px + 5vw);  /* 自适应按钮宽度 */
    height: calc(5px + 3vh);  /* 自适应按钮高度 */
    background-color: transparent;  /* 背景透明 */
    border-radius: 80px;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(110, 110, 110);  
    font-size: calc(4px + 1vw); /* 自适应按钮文字大小 */
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s ease;  /* 平滑过渡效果 */
}

/* 鼠标悬停时的样式 */
.cv-button:hover, .works-button:hover, .projects-button:hover {
    background: linear-gradient(0deg,  #ff096b 0%, #ff0a43 100%);
    color:rgb(20, 20, 20);
    border: none;
}




    .scroll {    
        
        margin: 5px auto; /* 上下外边距20px，并水平居中 */
        max-width: 750px; /* 设定一个最大宽度 */
        margin-top: 0px;
        
        }   

        .titreofscroll {
            
            text-align: center;
            color: rgba(0, 0, 0);
            
            
            
        }
        

        .inline-block1 {
            font-size: 16px;
            vertical-align: top;
            margin-right: 10px; /* 添加间距 */
            
            
        }
        .inline-block2 {
            font-size: 16px;
            vertical-align: top;
            margin-right: 10px; /* 添加间距 */
            margin-bottom: 50px; /* 距离底部的间距 */
           
        }

:root {
    --post-spacing: 1.78vw;
    --post-size: 25vw;
    --mask-size: 100vw;
    --animation-duration: 20s; /* 动画持续时间*/
    --card-gap: 2vw;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}


#banner {
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    top: 40%;
    width: 100vw;
    height: calc(var(--post-size) / 0.72);
    mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDE0NDAgNTAwIiBpZD0iaiI+CiAgPHBhdGggZmlsbD0icmdiKDIwMCwyMDAsMjAwKSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAwczI3NS4wNCAxMDAgNzIwIDEwMFMxNDQwIDAgMTQ0MCAwdjUwMHMtMjc1LjA0LTEwMC03MjAtMTAwUzAgNTAwIDAgNTAwVjB6Ii8+Cjwvc3ZnPgo=);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: var(--mask-size);
    .img-wrapper {
        display: flex;
        position: absolute;
        width: 100%;
        float: left;
        height: calc(var(--post-size) / 0.72);
        transform: translate(13.39vw, 0);
        animation: admission 1.5s;
        .img-box {
            height: 100%;
            display: inline-block;
            margin-right: var(--post-spacing);
            position: relative;
            /*cursor: pointer;暂时取消滚动图像的点击功能*/

            .info {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: hsla(0, 0%, 9%, 0.5);
                text-align: center;
                color: #fff9f1;
                font-size: 4rem;
            }
            img {
                width: var(--post-size);
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
            &:last-child {
                transform: translate(-160.68vw, 0);
            }
        }
    }
}

.btn-group {
    position: relative;
    left: 47.5%;
    margin-top: 35%; 
    height: 100px;
    width: 100px;

        
    
    
        .icon {
            width: 30px;
            height: 30px;
        }
        
    }


    .img-list {
        left: 0;
        transition: left 2s ease; /* 添加过渡效果 */
        animation: scrollLeft linear infinite;
        animation-duration: var(--animation-duration);
        flex-wrap: nowrap; /* 确保不换行 */
    }
    
    /*@keyframes admission {
        0% {
            transform: translate(140vw, 0);
        }
        100% {
            transform: translate(13.39vw, 0);
        }
    }*/
    
    @keyframes scrollLeft {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-100%));
        }
    }
    .section2 {   
        background-color: rgb(10, 10, 10);
        padding-top: 30px; 
        padding-bottom: 30px;}

    .buttons-container2 {
        display: flex;
        flex-direction: row;
        justify-content: center; /* 水平居中按钮 */
        gap: 100px; /* 设置按钮间距 */
        margin-top: 20px; /* 与 section2 上方有间距 */
        width: 100%; /* 自适应宽度 */
        flex-wrap: wrap; /* 保证在小屏幕时不溢出 */
        position: relative;
        z-index: 10;
      }
      

/* 单个按钮样式（如果希望和原来有所不同，可在此调整） */
.filter-button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }

.filter-button {
    --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #ff3967;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  
  /* 鼠标悬停与激活时的样式 */
  .hover-text  {position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);}

  .filter-button:hover .hover-text,
  .filter-button.active .hover-text
  {
    width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
  }
  /* 移除默认点击效果 */
.filter-button:active .hover-text {
    width: 100% !important; /* 保持点击瞬间的动画不中断 */
  }
  .filter-button.active {
    border-color: var(--animation-color); /* 绿色边框指示激活状态 */
  }
 
  
 
    .card-container {
         /* 使用 CSS 多栏布局，实现瀑布流效果 */
        column-count: 4;
        column-gap: var(--card-gap);
        padding: var(--card-gap);
        background-color: rgb(10, 10, 10);
        width: 100%;
        position: relative;
        padding-top: 50px; /* 增加上方内边距 */
    }
    
    .card {
         /* 为了适应 columns 布局，设置为 inline-block */
        display: inline-block;
        width: 100%;
  margin: 0 0 var(--card-gap) 0; /* 下边距实现纵向间隔 */
  background-image: url(studio_background.png);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
    }
    
    

.card img {
    display: block;
    max-width: 100%; /* 保证图片不会超出容器宽度 */
    height: auto;    /* 高度自动调整，保持比例 */
    border-radius: 8px;
    margin: 0 auto 10px; /* 上下外边距，左右自动居中 */
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #666;
}

.card p {
    font-size: 14px;
    color: #666;
}

.card:hover {
    transform: translateY(-10px); /* 鼠标悬停时卡片上移 */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* 增强阴影 */
}



/* 根据屏幕宽度调整列数 */
@media (max-width: 1200px) {
    .card-container {
      column-count: 3;
    }
  }
  
  @media (max-width: 768px) {
    .card-container {
      column-count: 2;
    }
  }
  .buttons-container2 {
   
    align-items: center;
  }
  
  @media (max-width: 480px) {
    .card-container {
      column-count: 1;
    }
    .buttons-container2 {
        flex-direction: column;
        align-items: center;
      }
  }

/* 弹窗样式 */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    max-width: 80vw;  /* 图片最大宽度不超过视口的 80% */
    max-height: 80vh; /* 图片最大高度不超过视口的 80% */
    width: auto; /* 让宽度自适应，保持原始比例 */
    height: auto; /* 让高度自适应，保持原始比例 */
    object-fit: contain; /* 保持图片比例，不会拉伸 */
    border-radius: 8px; /* 圆角 */
    display: block;
    margin: auto;
 }


.popup-content img {
    max-width: 80vw;  /* 图片最大宽度不超过视口的 80% */
    max-height: 80vh; /* 图片最大高度不超过视口的 80% */
    min-width: 200px; /* 图片最小宽度 200px */
    min-height: 200px; /* 图片最小高度 200px */
    object-fit: contain; /* 保持图片比例 */
    border-radius: 8px; /* 圆角 */
    width: auto; /* 保持图片比例 */
    height: auto;
    display: block;
    margin: auto;
}


/* 关闭按钮 */
.close {
    position: absolute;
    top: 10%;   
    right: 10%; 
    font-size: 70px; 
    cursor: pointer;
    color: white;
    background: none; 
    border: none; 
    padding: 0;
    z-index: 1100; /* 确保 X 处于最上层 */
}
    
.close:hover {
    color: #ff9500;
}
/* Footer 样式 */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 10px;
    font-size: 20px;
    z-index: 1000;  /* 确保在其他内容之上 */
    visibility: hidden; /* 默认隐藏 */
    opacity: 0;  /* 默认透明 */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* 平滑过渡效果 */
}
.footer.show {
    visibility: visible; /* 滚动到页面底部时显示 */
    opacity: 1;  /* 滚动到页面底部时显示完全不透明 */
}

/* 底部两列布局，横排显示 */
.footer-columns {
    display: flex;
    justify-content: center;  /* 居中显示两列内容 */
    margin-top: 5px;
    flex-wrap: wrap;  /* 内容溢出时换行 */
    gap: 2px; /* 控制两列之间的间距 */
}

/* 每一列的样式，确保列是横排的 */
.footer-columns .column {
    flex: 1 1 300px;  /* 每列宽度相等，且最小宽度为 300px */
    margin: 0 10px;  /* 列之间的间距 */
}



/* 链接的样式 */
.footer-columns .column a {
    text-decoration: none;
    color: #f00056;  
    font-weight: normal; 
    font-size: 14px; 
    display: inline-block; /* 使链接可以像按钮一样显示 */
    margin-bottom: 1px; 
}
.footer-columns .column p {
    display: inline;  /* 让 p 标签内容与其他内容水平排列 */
    margin-right: 10px;  /* 设置 p 标签和链接之间的间距 */
    font-weight: bold;
    font-size: 14px;
}

/* 链接的 hover 样式 */
.footer-columns .column a:hover {
    color: #f96f9f;  
}




.footer:hover {
    background-color: #000000;
    color: #fff;
    transition: all 0.3s ease;
}


.footer-link {
    color:  #ff096b;  
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}


.footer-link:hover {
    color: #f00056; 
    text-decoration: underline;
}
